<div class="header-down-wrapper">
	<div id="header-down">
		<div id="slider-wrapper">
			<div id="nivoslider-wrapper">
				<div id="nivoslider" class="nivoSlider">
          <%= image_tag 'slider/nivo/slider-3.jpg' %>
          <%= image_tag 'slider/nivo/slider-4.jpg' %>
          <%= image_tag 'slider/nivo/slider-5.jpg' %>
          <%= image_tag 'slider/nivo/slider-1.jpg' %>
				</div>
			</div>
			<div id="caption1" class="nivo-html-caption">
				<h2 class="nivo-title"></h2>
				<span style="display:block; font-size:70px; line-height:1.2;" class="skin-color">FRESH</span>
				<span style="display:block; font-size:50px; line-height:1.2; color:#000000;">Solutions</span>
				<span style="display:block; font-size:26px; line-height:1.2; color:#5f5f5f;">that you need</span></div>
			<div id="caption2" class="nivo-html-caption">
				<h2 class="nivo-title"></h2>
				<span style="display:block; font-size:70px; line-height:1.2;" class="skin-color">BUSINESS</span>
				<span style="display:block; font-size:50px; line-height:1.2; color:#000000;">Solutions</span>
				<span style="display:block; font-size:26px; line-height:1.2; color:#5f5f5f;">of new age</span></div>
			<div id="caption3" class="nivo-html-caption">
				<h2 class="nivo-title"></h2>
				<span style="display:block; font-size:70px; line-height:1.2;" class="skin-color">DISCOVER</span>
				<span style="display:block; font-size:50px; line-height:1.2; color:#000000;">the Business Secrets</span>
				<span style="display:block; font-size:26px; line-height:1.2; color:#5f5f5f;">for your success</span></div>
			<div id="caption4" class="nivo-html-caption">
				<h2 class="nivo-title"></h2>
				<span style="display:block; font-size:70px; line-height:1.2;" class="skin-color">LIGHT</span>
				<span style="display:block; font-size:50px; line-height:1.2; color:#000000;">Ideas</span>
				<span style="display:block; font-size:26px; line-height:1.2; color:#5f5f5f;">for Your Business</span></div>
		</div>
	</div>
</div>

<div id="main">
	<div id="sub-main" class="container_12">
		<div id="content">
			<div class="service-1 grid_4">
				<div class="tilte">
					<h2>STATISTICS</h2>
				</div>
				<div class="icon-wrapper">
          <%= image_tag 'statics.png' %>
        </div>
				<div class="text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </div>
				<div class="button-wrapper">
					<a href="#"><span class="normal-button">DETAILS</span></a>
				</div>
			</div>
			<div class="service-1 grid_4">
				<div class="tilte">
					<h2>USER INTERFACE</h2>
				</div>
				<div class="icon-wrapper">
          <%= image_tag 'user.png' %>
        </div>
				<div class="text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </div>
				<div class="button-wrapper">
					<a href="#"><span class="normal-button">DETAILS</span></a>
				</div>
			</div>
			<div class="service-1 grid_4">
				<div class="tilte">
					<h2>WORKING HOURS</h2>
				</div>
				<div class="icon-wrapper">
          <%= image_tag 'sun.png' %>
        </div>
				<div class="text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </div>
				<div class="button-wrapper">
					<a href="#"><span class="normal-button">DETAILS</span></a>
				</div>
			</div>
			<div class="clear mb60"></div>
			<div style="float:left; width:50%; padding-right:0; padding-left:0;">
				<div class="grid_6">
					<div class="h-wrapper">
						<h3>What you get<span class="line"></span></h3>
					</div>
				</div>
				<div class="service-2 type4 grid_6">
					<div class="icon">
            <%= image_tag 'dark-mapleleaf.png' %>
          </div>
					<div class="text">
						<h2>
							<a href="#">Modern and Clean</a>
						</h2>
						<div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
				</div>
				<div class="service-2 type4 grid_6">
					<div class="icon">
            <%= image_tag 'dark-gear.png' %>
          </div>
					<div class="text">
						<h2>
							<a href="#">Powerful Admin Panel</a>
						</h2>
						<div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
				</div>
				<div class="service-2 type4 grid_6">
					<div class="icon">
            <%= image_tag 'dark-recycle.png' %>
          </div>
					<div class="text">
						<h2>
							<a href="#">Custom Widgets</a>
						</h2>
						<div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_6">
				<div class="h-wrapper">
					<h3>Welcome<span class="line"></span></h3>
				</div>
				<div class="featured-thumbnail image-frame center" style="max-width:460px; background:;">
					<div class="image-wrap">
            <%= image_tag 'welcome.jpg' %>
          </div>
				</div>
				<p class="skin-color" style="font-size:16px;">Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim</p>
				<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elitellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit ameteuismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis.</p>
				<a class="fright reverse read-more" href="#">Read More</a>
			</div>
			<div class="clear mb20"></div>
			<script type="text/javascript">
				jQuery(document).ready(function() {
					jQuery("#posts-shortcode-1").jCarouselLite({
						btnNext:"#posts-shortcode-prev-1",
						btnPrev:"#posts-shortcode-next-1",
						auto:false,
						speed:1000,
						visible:4
					});
				});
			</script>
			<div class="posts shortcode grid_12 cols carousel">
				<div class="h-wrapper">
					<h3 class="header">Last News<span class="line"></span></h3>
				</div>
				<div class="posts-shortcode-wrapper">
					<div class="posts-shortcode-nav">
						<div id="posts-shortcode-prev-1" class="prev"></div>
						<div id="posts-shortcode-next-1" class="next"></div>
					</div>
					<div id="posts-shortcode-1" class="posts-shortcode">
						<ul>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-1-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">post with video thumbnail inside</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-2-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">post with slider thumbnail inside</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-3-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">Vestibulum sagittis mauris</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<script type="text/javascript">
												jQuery(window).load(function() {
													// thumbslider init
													jQuery("#thumbslider-1.nivoSlider").nivoSlider({
														effect:"fade",
														directionNav:true,
														directionNavHide:true,
														controlNav:false,
													});
												});
											</script>
											<div id="thumbslider-1" class="nivoSlider">
                        <%= image_tag 'post/slider-1-90x70.jpg' %>
                        <%= image_tag 'post/slider-2-90x70.jpg' %>
                        <%= image_tag 'post/slider-3-90x70.jpg' %>
											</div>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">post with slider thumbnail</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">post with video thumbnail</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-4-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">Pellentesque sed risus</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-5-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">Sed fermentum ligula sed</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
							<li class="post-shortcode-item grid_3">
								<div class="details-wrap">
									<div class="featured-thumbnail">
										<div class="image-wrap">
											<a class="image-wrapper" href="#">
                        <%= image_tag 'post/post-6-90x70.jpg' %>
                        <span class="zoom-icon none"></span></a>
										</div>
									</div>
									<!-- end of .featured-thumbnail -->
									<div class="tilte">
										<h3>
											<a href="#">Nullam luctus pellentesque</a>
										</h3>
									</div>
								</div>
								<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end of #content -->
	</div>
</div>