
<div class="header-up-wrapper">
	<div id="top-nav-wrapper">
		<div id="top-nav-container" class="container_12">
			<div id="top-nav" class="grid_12">
				<div id="top-nav-left">
					<div class="menu-top-nav-container">
						<ul id="top-menu" class="menu">
							<li><span class="divider">|</span>
								<a href="index-2.html">主页</a>
							</li>
							<li><span class="divider">|</span>
								<a href="blog-with-right-sidebar.html">联系我们</a>
							</li>
							<li><span class="divider">|</span>
								<a href="contact.html">人才招聘</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="header-up" class="container_12">
		<div class="grid_12">
			<div id="logo-wrapper">
				<a href="index-2.html" title="unique">
          <%= image_tag 'logo.png' %>
        </a>
			</div>
			<div class="top-information-wrapper">
				<div class="social-wrapper">
					<ul>
						<li class="social-icon delicious">
							<a class="light" href="#">
                <%= image_tag 'icons/network/light/delicious.png' %>
              </a>
						</li>
						<li class="social-icon deviantart">
							<a class="light" href="#">
                <%= image_tag 'icons/network/light/deviantart.png' %>
              </a>
						</li>
						<li class="social-icon digg">
							<a class="light" href="#">
                <%= image_tag 'icons/network/light/digg.png' %>
              </a>
						</li>
						<li class="social-icon facebook">
							<a class="light" href="#">
                <%= image_tag 'icons/network/light/facebook.png' %>
              </a>
						</li>
						<li class="social-icon flickr">
							<a class="light" href="#">
                <%= image_tag 'icons/network/light/flickr.png' %>
              </a>
						</li>
					</ul>
				</div>
				<div class="top-information">
          <span class="email">j_xu@loyalty-china.com</span>
					<span class="phone">025-84265310</span>
        </div>
			</div>
		</div>
	</div>
  <div id="menu-wrap">
			<div id="menu-wrapper" class="container_12">
				<ul id="main-nav" class="sf-menu">
					<li>
						<a href="index-2.html">首页</a>
					</li>
					<li>
						<a href="#">公司简介</a>
					</li>
					<li>
						<a href="about-us.html">新闻资讯</a>
					</li>
					<li>
						<a href="portfolio-3-column.html">产品中心</a>
					</li>
					<li>
						<a href="blog-with-right-sidebar.html">成功案例</a>
					</li>
					<li>
						<a href="features.html">解决方案</a>
					</li>
					<li>
						<a href="shortcodes.html">服务支持</a>
					</li>
					<li>
						<a href="contact.html">资料下载</a>
					</li>
					<li>
						<a href="contact.html">人才招聘</a>
					</li>
					<li>
						<a href="contact.html">联系我们</a>
					</li>
				</ul>
			</div>
			<!-- end of menu-wrapper -->
		</div>
</div>   


